.darkTheme{
    height: 100vh;
    background-color: black;
    h1{
        color: white;
    }
}

.settingsWrapper{
    padding: 1rem;
    h1{
        text-align: left;
    }

    &__themeSwitcher{
        margin: 1rem;
    }
}